.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  @include montserrat();
  font-size: 17px;
  text-align: right;

  a,
  a:visited {
    display: block;
    margin-bottom: 10px;
    color: #c56e28;
    font-size: 17px;
    transition: color .3s ease-in-out;

    &:hover { color: #4d2d6b }
  }

  span {
    color: #ce253d;
  }
}

@media (min-width: $tablet-portrait) {
  .breadcrumbs {

  }
}

@media (min-width: $desktop) {
  .breadcrumbs {
    flex-direction: row;
    padding: 55px calc(50% - 620px);

    a {
      margin: 0;
      padding: 0 12px 0 11px;
      border-right: 1px solid #c56e28;
    }

    span {
      padding: 0 12px 0 11px;
    }
  }
}