.btn {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50px;
  margin: 0 auto;
  padding: 0 28px;
  border: none;
  border-radius: 25px;
  color: #fff;
  text-align: left;
  @include montserrat;
  font-size: 14px;
  background-color: #a41d35;
  text-transform: uppercase;
  letter-spacing: .4px;

  &_1 {
    height: 50px;
  }

  &_2{
    height: 30px;
    background-color: #8d1c58;
    font-size: 12px;
  }
  &_3 {
    background-color: #4d2d6b;
    text-transform: uppercase;
    @include FuturaPTBold();
  }
}

@media (min-width: $tablet-portrait) {
  .btn {

    &_1 {
      font-size: 17px;
    }

  }
}

@media (min-width: $desktop) {
  .btn {
    -webkit-transition: background-color .3s ease, color .3s ease;
    transition: background-color .3s ease, color .3s ease;

    &:after{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 98%;
      height: 98%;
      border-radius: inherit;
      opacity: 0;
      visibility: hidden;
      border: 1px solid #a41d35;
      -webkit-transition: transform .4s ease, opacity .2s ease, visibility .2s ease;
      transition: transform .4s ease, opacity .2s ease, visibility .2s ease;
      -webkit-transform: scale(2) translate(-25%, -25%);
      transform: scale(2) translate(-25%, -25%);
      content: '';
    }

    &:hover, &:active {

      &:after{
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1) translate(-50%, -50%);
        transform: scale(1) translate(-50%, -50%);
      }

    }

    &_3 {
      height: 42px;
      font-size: 14px;
      letter-spacing: 1.6px;

      &:after { border-color: #4d2d6b }
    }
  }
}