.dropdown {

  &__item {

  }

  &__title {
    cursor: pointer;

    &.active {
      cursor: default;
    }
  }

  &__content {
    display: none;
  }
}

@media (min-width: $tablet-portrait) {
  .dropdown {

  }
}

@media (min-width: $desktop) {
  .dropdown {

  }
}

