.hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  max-height: 585px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  &.hero_min {
    display: block;
    height: auto;
    padding: 60px 15px;
    color: #fff;
    @include NexaRustSlab;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: center;
  }

  &__back {
    position: absolute;
    bottom: 0;
    left: 30px;
    z-index: 1;
    height: 30px;
    padding: 5px 20px 5px 10px;
    @include CongressMedium();
    font-size: 18px;
    line-height: normal;
    color: #fff;
    background: #9a192b;
    cursor: pointer;
    user-select: none;

    span {
      position: relative;
      z-index: 2;
    }

    &:after {
      position: absolute;
      bottom: 0;
      right: -15px;
      width: 0;
      height: 0;
      z-index: 1;
      border-style: solid;
      border-width: 0 15px 30px 15px;
      border-color: transparent transparent #9a192a transparent;
      content: '';
    }

    &:before {
      position: absolute;
      top: 9px;
      right: 5px;
      width: 13px;
      height: 13px;
      z-index: 2;
      border: 2px solid #fff;
      box-sizing: border-box;
      transform: rotate(45deg);
      transform-origin: center;
      clip: rect(0px, 13px, 10px, 3px);
      content: '';
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 0;

    a,
    a:visited {
      display: block;
      margin-bottom: 10px;
      font-size: 17.4px;
      line-height: .9;
      letter-spacing: .1px;
      color: rgba(255,255,255,.9);
      @include montserrat();
      font-weight: 300;

      &:hover { text-decoration: underline }
    }
  }

  &__content{
    width: 100%;
    padding: 45px 0 20px;
    text-align: center;
    z-index: 1;
  }

  &__title{
    position: relative;
    width: 100%;
    margin-bottom: 27px;
    padding: 0 15px 20px;
    color: #fff;
    @include NexaRustSlab;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;

    span {
      display: block;
      position: relative;
    }

    sup{
      position: relative;
      top: -4px;
      @include arial;
      font-size: 10px;
      line-height: 10px;
    }

    &:after{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 8px;
      background: url(../img/hero-dots.png) repeat-x;
      background-size: contain;
      content: '';
    }

  }
}

.hero-slider {

  .hero {
    height: 200px;
    align-items: center;
  }

  .swiper-pagination {

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      margin: 0 3px;
      background: #fff;
      opacity: .55;
      transition: opacity .15s ease-in-out;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
    }
  }
}

@media (min-width: $tablet-portrait) {
  .hero {
    height: 100vh;

    &__content {
      width: 100%;
      padding: 85px calc(50% - 515px) 40px;
    }

    &__title{
      font-size: 35px;
      line-height: 45px;

      sup{
        top: -14px;
        font-size: 14px;
        line-height: 19px;
      }
    }

    &.hero_min {
      padding: 40px 80px;
      font-size: 35px;
      line-height: 45px;
    }

    &.hero_centering {
      align-items: center;
      max-height: 487px;

      .hero__content {
        width: auto;
        padding: 0 calc(50% - 515px) 40px;
      }
    }
  }

  .hero-slider {

    .hero {
      height: 100vh;
      max-height: 491px;

      &__content {
        padding: 40px calc(50% - 515px);
      }
    }

    .swiper-pagination {
      padding: 0 calc(50% - 630px);
      bottom: 21px;
      text-align: right;

      .swiper-pagination-bullet {
        width: 18px;
        height: 18px;
        margin: 0 0 0 11px;
      }
    }
  }
}

@media (min-width: $desktop) {
  .hero {

    &__title{
      font-size: 54px;
      line-height: 74px;
    }

    &.hero_min {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 192px;
      padding: 40px calc(50% - 620px);
      text-align: left;
      font-size: 40px;
      line-height: 52px;
    }

    &__nav {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      padding: 0;

      a,
      a:visited {
        padding: 0 9px 0 7px;
        margin-bottom: 0;
        border-left: 2px solid rgba(255,255,255,.9);

        &:first-child { border-left: none }
      }
    }

    &__back {
      left: calc(50% - 619px);
      height: 52px;
      padding: 13px 31px 13px 19px;
      font-size: 26px;
      letter-spacing: .1px;

      &:after {
        right: -26px;
        border-width: 0 26px 52px 26px;
      }

      &:before {
        top: 22px;
        right: 5px;
        width: 15px;
        height: 15px;
        clip: rect(0px, 15px, 12px, 3px);
        transition: right .3s ease-in-out;
      }

      &:hover:before {
        right: 0;
      }
    }

    &.hero_centering {

      .hero__title {
        font-size: 61px;
        line-height: 83px;
      }
    }
  }
}

