.main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 38px;
  color: #ce253d;
  text-align: center;
  @include JustRealize;
  font-size: 26px;
  line-height: 55px;

  &.color2 {
    color: #fff;
  }
  &.single {

    span {
      border: none !important;
      padding: 0;
      letter-spacing: normal;
    }
  }

  span {
    display: block;
    border-top: 4px dotted #db9577;
    @include Congress;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 52px;
    margin: 0;

    &:first-child {
      border-top: none;
      margin: 0 0 6px 0;
      border-bottom: 4px dotted #db9577;
    }
  }
}

@media (min-width: $tablet-portrait) {
  .main-title {

    span{
      font-size: 42px;
    }
  }
}

@media (min-width: $desktop) {
  .main-title {

  }
}

