.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include montserrat();
  font-weight: 600;
  width: 100%;
  text-transform: uppercase;

  &__item{
    margin-bottom: 20px;
    color: #fff;
    font-size: 15px;
    letter-spacing: .5px;
    transition: color .3s ease-in-out;

    &:first-child{
      margin-left: 0;
    }

    &.active { color: #be1e2e }
  }

}

@media (min-width: $tablet-portrait) {
  .menu {

  }
}

@media (min-width: $desktop) {
  .menu {
    width: auto;
    flex-direction: row;
    margin: 3px 32px 0 0;

    &__item{
      position: relative;
      margin-left: 41px;
      margin-bottom: 0;
      color: #4d2d6b;

      //&:after{
      //  position: absolute;
      //  left: 0;
      //  right: 100%;
      //  bottom: -5px;
      //  border-bottom: 1px solid #4d2d6b;
      //  -webkit-transition: right .3s ease;
      //  transition: right .3s ease;
      //  content: '';
      //}

      &:hover{
        color: #be1e2e;

        //&:after{
        //  right: 0;
        //}
      }
    }
  }
}

