.places {
  padding: 63px calc( 50% - 515px ) 76px;
  background-color: #f6f6f6;

  &__layout{
    padding: 0 15px;
  }

  &__title{
    width: 100%;
    margin-bottom: 11px;
    color: #ce253d;
    text-align: center;

    > div:nth-child(2){
      margin-top: 26px;
      @include JustRealize;
      font-size: 26px;
      line-height: 1;
    }

    span{
      padding-bottom: 3px;
      border-bottom: 4px dotted #db9577;
      @include Congress;
      font-size: 32px;
      text-transform: uppercase;
    }


  }

  img{
    width: 100%;
  }

}

@media (min-width: $tablet-portrait) {
  .places {

    &__title{

      span{
        font-size: 42px;
      }

    }

  }
}

@media (min-width: $desktop) {
  .places {

  }
}

