.products {
  padding: 40px calc( 50% - 692px ) 82px;

  &.products_borders {
    position: relative;

    &:before {
      @include absoluteCenterX();
      top: 0;
      width: 100%;
      max-width: 1250px;
      border-top: 4px dotted rgb(197, 110, 40);
      content: '';
    }

    &:after {
      @include absoluteCenterX();
      bottom: 0;
      width: 100%;
      max-width: 1250px;
      border-bottom: 4px dotted rgb(197, 110, 40);
      content: '';
    }
  }

  &__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15px 0 18px;
  }

  &__title{
    width: 100%;
    margin-bottom: 65px;
    color: #ce253d;
    text-align: center;

    > div:first-child{
      @include JustRealize;
      font-size: 26px;
      line-height: 55px;
    }

    span{
      border-top: 4px dotted #db9577;
      @include Congress;
      font-size: 32px;
      text-transform: uppercase;
      letter-spacing: 1.4px;
    }


  }

  &__img{
    position: relative;
    width: 100%;
    max-width: 205px;
    height: 225px;
    margin: 0 auto 15px;

    img{
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 100%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

  }

  &__swiper{
    width: calc( 100% - 60px );
  }

  &__item{
    color: #c56e28;
    @include montserrat;
    font-size: 17px;
    text-align: center;
  }

  &__prev,
  &__next{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    margin-bottom: 65px;
    border-radius: 50%;
    background-color: #dedede;

    svg{
      width: 15px;
      fill: #fff;
    }

  }

  &__prev{
    padding-right: 3px;

    svg{
      transform: rotate(90deg);
    }

  }

  &__next {
    padding-left: 3px;

    svg{
      transform: rotate(-90deg);
    }

  }

}

@media (min-width: $tablet-portrait) {
  .products {
    padding-top: 80px;
    padding-bottom: 80px;

    &.products_borders {
      padding-top: 43px;
      padding-bottom: 48px;
    }

    &__title{

      span{
        font-size: 42px;
      }

    }

    &__swiper {
      width: calc(100% - 170px);
      margin: 0 0 0 50px;
    }

    &__prev,
    &__next{
      width: 57px;
      height: 57px;

      svg {
        width: 20px;
      }

    }

  }
}

@media (min-width: $desktop) {
  .products {

    &__prev,
    &__next{
      -webkit-transition: background-color .3s ease;
      transition: background-color .3s ease;

      &:hover{
        background-color: #cbcbcb;
      }

    }

  }
}