.rate {
  display: block;
  text-align: center;

  &__progress {
    display: inline-block;
    height: 21px;
    background-image: url("../img/star.png");
    background-repeat: repeat-x;
    background-position: left center;
    background-size: auto 100%;
  }
}

.FSR_container{
  margin-top: 10px;

  &:after{
    content: '';
    display: none;
    background-image: url(../img/star-voit.png), url(../img/star.png), url(../img/star-null.png), url(../img/star-voit-half.png);
  }

}
.FSR_full_voting_star,
.FSR_full_star,
.FSR_no_voting_star,
.FSR_no_star,
.FSR_half_star,
.FSR_half_voting_star
{
  background-size: cover;
  height: 21px;
  width: 27px;
  -webkit-transition: background-image .3s ease;
  transition: background-image .3s ease;
}
.FSR_full_star{
  background-image: url(../img/star-voit.png);
}
.FSR_full_voting_star{
  background-image: url(../img/star.png);
}
.FSR_half_star{
  background-image: url(../img/star-voit-half.png);
}
.FSR_half_voting_star {
  background-image: url(../img/star-voit-half.png);
}

.FSR_no_star,
.FSR_no_voting_star {
  background-image: url(../img/star-null.png);
}
@media (min-width: $tablet-portrait) {
  .rate {

  }
}

@media (min-width: $desktop) {
  .rate {

  }
}

