.search {
  position: relative;
  top: 2px;

  svg{
    width: 30px;
    height: 30px;
    fill: #be1e2d;
  }

  &__form{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
  }

}

@media (min-width: $tablet-portrait) {
  .search {

  }
}

@media (min-width: $desktop) {
  .search {

    svg{
      -webkit-transition: transform .3s ease;
      transition: transform .3s ease;
    }

    &:hover svg{
      transform: scale(1.1);
    }

  }
}

