.site {

  &__header{
    position: relative;
    height: 72.5px;
    padding: 0 calc( 50% - 515px );
    border-bottom: 2px solid #c72233;
    z-index: 2;

    &-layout{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      width: 100%;
      height: inherit;
      padding: 15px 15px 0;
    }

  }

  &__footer{
    position: relative;
    padding: 146px calc( 50% - 515px ) 20px;

    &-layout{
      position: relative;
      padding: 15px 15px 0;
      text-align: center;
      z-index: 1;
    }

    .logo{
      left: -24px;
      top: 27px;
      width: 209px;
      height: 159.5px;
    }

  }

}

@media (min-width: $tablet-portrait) {
  .site {

    &__footer{
      padding-top: 46px;

      &-layout{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 185px;
        text-align: left;
      }

    }

  }
}

@media (min-width: $tablet-landscape) {
  .site {

    &__footer{

      &-layout{
        flex-wrap: nowrap;
        justify-content: flex-end;
        padding-left: 0;
      }

    }

  }
}

@media (min-width: $desktop) {
  .site {

    &__header{

    }

  }
}

