.social {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-right: 13px;

  &__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;

    svg{
      width: 20px;
      height: 20px;
      fill: #fff;
    }

    &-pinterest{
      background-color: #cf4c2c;
    }

    &-twetter{
      background-color: #2cbde2;
    }

    &-facebook{
      background-color: #3f65a6;
    }

  }

  &_footer{
    @include FuturaMedium;
    flex-wrap: wrap;
    margin-right: 0;
    width: 135px;
    font-size: 14px;
    line-height: 15px;
    color: #4d2d6b;

    p{
      width: 100%;
      margin-bottom: 8px;
    }

    .social__item{
      width: 38px;
      height: 38px;
      margin-right: 6px;
    }

  }

}

@media (min-width: $tablet-portrait) {
  .social {

  }
}

@media (min-width: $desktop) {
  .social {

    &__item{
      position: relative;
      -webkit-transition: transform .3s ease;
      transition: transform .3s ease;

      &:hover, &:active {
        transform: scale(1.1);
      }

      &-pinterest{

        &:after{
          border-color: #cf4c2c;
        }

      }

      &-twetter{

        &:after{
          border-color: #2cbde2;
        }

      }

      &-facebook{

        &:after{
          border-color: #3f65a6;
        }

      }

    }

  }
}