.tab {
  position: relative;
  @include FuturaMedium();

  &__controls {
    display: flex;

    &-item {
      display: flex;
      align-items: center;
      position: relative;
      padding: 10px 20px 10px 0;
      font-size: 16px;
      text-align: center;
      color: #4f4f4f;
      line-height: 1.577;
      border-style: solid;
      border-color: #cacaca;
      border-width: 1px 1px 0 0;
      background: #fafafa;
      transition: background .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;
      user-select: none;
      cursor: pointer;
      @include FuturaHeavyRegular();

      &:first-child { border-left-width: 1px }

      &:after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 4px;
        z-index: 1;
        background: #fff;
        opacity: 0;
        content: '';
      }

      &.active {
        background: #fff;
        color: #ce253d;
        cursor: default;

        &:after {
          opacity: 1;
        }

        .tab__controls-icon svg {
          fill: #ce253d;
        }
      }
    }

    &-icon {
      display: block;
      position: relative;
      width: 50px;

      svg {
        @include absoluteCenter();
        width: 30px;
        height: 30px;
      }

      &.pie {

        svg {
          margin-top: -5px;
        }
      }
    }
  }

  &__content {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    transition: height .3s ease-in-out;

    &-item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 20px;
      background-color: #fff;
      border: 1px solid #cacaca;
      pointer-events: none;
      opacity: 0;
      transition: opacity .3s ease-in-out;

      &.active {
        opacity: 1;
        pointer-events: fill;
      }
    }
  }
}

@media (min-width: $tablet-portrait) {
  .tab {

    &__controls {

      &-item {
        padding: 15px 56px 15px 41px;
        font-size: 31px;
        color: rgb(79, 79, 79);
        text-indent: 22px;
        transition: color .3s ease-in-out;

        &:hover {
          color: #ce253d;

          .tab__controls-icon svg {
            fill: #ce253d;
          }
        }
      }

      &-icon {
        width: 63px;
        margin-right: 20px;

        svg {
          width: 48px;
          height: 48px;
          transition: fill .3s ease-in-out;
        }

        &.pie {

          svg {
            margin-top: -7px;
          }
        }
      }
    }

    &__content {

      &-item {
        padding: 61px 40px;
      }
    }
  }
}

@media (min-width: $desktop) {
  .tab {

  }
}

