.websters-select {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  border: 2px solid #fff;
  color: #fff;
  @include FuturaHeavyRegular();

  &_opened {

    .websters-select__arrow {
      //top: 20px;
      //transform: rotate(225deg);
    }

  }

  &__arrow{
    position: absolute;
    top: 11px;
    right: 15px;
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    clip: rect(3px, 15px, 15px, 3px);
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform .3s ease-in-out;
  }

  &__item {
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 274px;
    height: 48px;
    padding: 0 50px 0 17px;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
  }

  &_mobile {

    select {
      position: absolute;
      top: 0;
      bottom: -1px;
      left: 1px;
      width: 100%;
    }

  }

  &_custom {

    select {
      position: absolute;
      left: -100000px;
    }

  }

  &__popup {
    overflow: hidden;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    border: 1px solid #fff;
    background: #9a192a;
    color: #fff;

    ul {
      z-index: 1;
    }

    li {
      padding: 15px 20px;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        color: #9a192a;
        background: #fff;
      }

      &.active {
        color: #9a192a !important;
        background: #fff !important;
      }
    }
  }
}

.ps-container > .ps-scrollbar-y-rail {
  right: 0 !important;
  width: 5px;
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #4d2d6b;
  border-radius: 2px;
  border: 1px solid #fff;
  right: 0;
  width: 5px;
}
