@font-face {
  font-family: "FuturaMedium";
  src: url("../fonts/futura-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FuturaHeavyRegular";
  src: url("../fonts/FuturaHeavyRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
