@font-face {
  font-family: "JustRealize";
  src: url("../fonts/JustRealize-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JustRealize-Regular";
  src: url("../fonts/JustRealize.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
